<template name="newTopic">
  <div class="modal fade" id="new-topic-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content custom">
        <div class="modal-header">
          <div class="icon-group close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-action fa fa-remove"></i>
          </div>
          <h3 class="modal-title muted uppercase" id="modalLabel">Create Topic</h3>
        </div>
        <div class="modal-body">
          <form role="form" id="js-create-topic-form">
            <div class="form-group">
              <input type="text" class="form-control" id="js-create-title" placeholder="Ask a question!">
            </div>
            <div class="form-group">
              <textarea class="form-control" id="js-create-description" placeholder="Some context for the question would be nice."></textarea>
            </div>
            <div class="action-group clearfix">
              <button type="submit" class="btn btn-primary">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>