<template name="topic">	
  <div class="page-body">
    {{#pageBody items=comments item='commentRow' hasItems=commentsCount class='no-container'}}
      <div class="page-title">
        <h3 class="muted uppercase">{{_ "num_comments" count=commentsCount}}</h3>
        <span class="dropdown">
          <button class="dropdown-toggle muted" type="button" id="comment-category" data-toggle="dropdown">
            {{commentCategory}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="comment-category">
            <li><a role="menuitem" tabindex="-1" href="{{pathFor route='topic' query='sort_by=top'}}" class="list-item">{{_ "top"}}</a></li>
            <li><a role="menuitem" tabindex="-1" href="{{pathFor route='topic' query='sort_by=newest'}}" class="list-item">{{_ "newest"}}</a></li>
          </ul>
        </span>
      </div>

    {{> newComment}}
    {{/pageBody}}
  </div>
</template>

<template name="topicButtons">
  {{#if following}}
    <button id="js-unfollow" class="btn btn-primary">{{_ "unfollow"}}</button>
  {{else}}
    <button id="js-follow" class="btn btn-default">{{_ "follow"}}</button>
  {{/if}}

</template>

<template name="topicHeader">
  <h3>{{title}}</h3>
  <div class="topic-vote center">
    <button id="js-vote-pro" class="btn btn-pro {{selected 'pro'}}">{{pro}}</button> 
    <button id="js-vote-con" class="btn btn-con {{selected 'con'}}">{{con}}</button>
  </div>

  {{#if description}}
    <div class="topic-description collapsed muted markdown">
      {{{description}}}
    </div>
  {{/if}}
</template>

<template name="topicNav">
  <div class="divider"><hr></div>
  <div class="topic-info">
    <span>{{formatDate createdAt}} {{_ "by"}} <a href="{{pathFor 'profile' _id=userId}}" class="action-link">{{formatName userId}}</a></span>
    <div class="float-right">
      {{#if canFlag}}
        <div class="icon-group" id="js-flag-topic">
          <i class="icon-action b-icon-flag"></i>
        </div>
      {{/if}}
      {{#if isAdmin}}
        <div id="js-delete-topic" class="icon-group">
          <i class="icon-action fa fa-remove"></i>
        </div>
      {{/if}}
      </div>
  </div>
</template>

