<template name="topicItem">
  <a href="{{pathFor 'topic'}}">
    <div class="list-item" id="{{_id}}" style="padding-bottom: 0;">
      <div class="list-item-info">
        <h3>{{title}}</h3>
        <small>Posted {{formatDate createdAt}} by {{formatName userId}} | {{commentsCount}} Comments</small>
      </div>
      <div class="list-item-action clearfix">
        <span class="btn btn-pro">{{pro}}</span> 
        <span class="btn btn-con">{{con}}</span>
      </div>
    </div>
    {{#if topComment}}
      <div class="list-item top-comment-item">      
        {{> commentItem topComment}}
      </div>
    {{/if}}
  </a>
</template>