
<!-- BEGIN PAGE TABS -->

<template name="topicComments">
	<div class="col-content page-body-header">
		<h3>Comments</h3>
		<span class="dropdown">
		  <button class="dropdown-toggle" type="button" id="comment-category" data-toggle="dropdown">
		    {{commentCategory}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="comment-category">
		    <li><a role="menuitem" tabindex="-1" href="{{pathFor route='topic' query='sort_by=top'}}" class="list-item">Top</a></li>
		    <li><a role="menuitem" tabindex="-1" href="{{pathFor route='topic' query='sort_by=newest'}}" class="list-item">Newest</a></li>
		  </ul>
		</span>
	</div>

	<div class="col-content clearfix">
		{{> newComment}}
	</div>

	{{#if hasComments}}
		<div class="comment-container main">
			{{#each comments}}
				{{> commentRow}}
			{{/each}}
		</div>
	{{else}}
		<div class="col-content">No comments yet.</div>	
	{{/if}}
</template>

<template name="topicFollowers">
	<div class="col-content page-body-header">
		<h3>Followers</h3>
	</div>
	<div class="col-content page-body-content">
		<div class="list">
			{{#if followers.count}}
				{{#each followers}}
					{{> profileItem}}
				{{/each}}
			{{else}}
				<div class="list-item">No followers yet.</div>	
			{{/if}}
		</div>
	</div>
</template>

<template name="topicCreator">
	<div class="col-content page-body-header">
		<h3>Creator</h3>
	</div>
	<div class="col-content page-body-content">
		<div class="list">
			{{#with creator}}
				{{> profileItem}}
			{{/with}}
			<div class="list-item">
				<h3>Creator's Notes</h3>
				<p class="muted marked">
					{{#if description}}
						{{{description}}}
					{{else}}
						No notes have been written.
					{{/if}}
				</p>
			</div>
		</div>
	</div>
</template>

<!-- END PAGE TABS -->

<!-- BEGIN PAGE LAYOUT -->

<template name="topic">	
	<div class="page-body">
		{{> Template.dynamic template=currentTab data=this}}
	</div>
</template>

<template name="topicButtons">
	{{#if following}}
		<button id="js-unfollow" class="btn btn-primary">Unfollow</button>
	{{else}}
		<button id="js-follow" class="btn btn-default">Follow</button>
	{{/if}}
	{{#if isAdmin}}
		<button id="js-delete-topic" class="btn btn-default">Delete</button>
	{{/if}}
</template>

<template name="topicHeader">
	<h3>{{title}}</h3>
	<div class="vote center">
		<button id="js-vote-pro" class="btn btn-pro">Pro: {{pro}}</button> 
		<button id="js-vote-con" class="btn btn-con">Con: {{con}}</button>
	</div>
	
	{{#if description}}
		<p class="muted markdown">
			{{{description}}}
		</p>
	{{/if}}
</template>

<template name="topicNav">
	<div class="divider"><hr></div>
	<ul class="page-nav-buttons clearfix">
	  <li>
	  	<a href="#" class="{{isCurrentTab 'topicComments'}} js-nav-button" data-tab="topicComments">
	  		<span class="value">{{commentsCount}}</span>
	  		<span class="label">Comments</span>
	  	</a>
	  </li>
	  <li>
	  	<a href="#" class="{{isCurrentTab 'topicFollowers'}} js-nav-button" data-tab="topicFollowers">
	  		<span class="value">{{followers.length}}</span>
	  		<span class="label">Followers</span>
	  	</a>
  	</li>
	</ul>
</template>

<!-- END PAGE LAYOUT -->


