<template name="topicItem">
  <a href="{{pathFor route='topic'}}">
    <div class="list-item topic-item" id="{{_id}}">
      <div class="list-item-action">
        <span class="btn btn-pro">{{pro}}</span> 
        <span class="btn btn-con">{{con}}</span>
        <span>{{title}}</span>
      </div>
      <div class="list-item-info">
        <span>{{commentsCount}} Comments</span>
        <span>{{formatDate createdAt}}</span>
        <span>{{formatName userId}}</span>
      </div>
    </div>
  </a>
  {{#if topComment}} 
    <!-- {{> commentItem topComment}} -->
    {{> comment topComment}}
  {{/if}}
</template>