<template name="notifications">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{> notificationBadge count=notificationCount class='navbar-item hidden-xs'}}
      <span class="visible-xs">{{_ "notifications"}} ({{notificationCount}})</span>
    </a>
    <div class="dropdown-menu notifications">
      <ul>
        {{#if hasNotifications}}
          {{#each notifications}}
            {{> notificationItem}}
          {{/each}}
        {{else}}
          <li class="no-notifications">
            <a href="#" class="list-item"><span>{{_ "no_notifications"}}</span></a>
          </li>
        {{/if}}
      </ul>
    </div>
  </li>
</template>
