<template name="notifications">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      {{#notificationBadge count=notificationCount}}
        <i class="hidden-xs fa fa-lightbulb-o fa-lg"></i>
        <span class="visible-xs">Notifications</span>
      {{/notificationBadge}}
    </a>
    <div class="dropdown-menu notifications">
      <ul>
        {{#if hasNotifications}}
          {{#each notifications}}
            {{> notificationItem}}
          {{/each}}
        {{else}}
          <li class="no-notifications">
            <a href="#" class="list-item"><span>No notifications.</span></a>
          </li>
        {{/if}}
      </ul>
    </div>
  </li>
</template>