<template name="settingsProfile">
  {{#settingsBody title=settingsTitle}}
    <div class="list-item settings-item">
      <div class="list-item-info">
        <label for="js-name">{{_ "name"}}</label>
      </div>
      <div class="settings-input">
        <input type="text" id="js-name" class="form-control" placeholder="{{_ 'name'}}" value="{{currentUser.profile.name}}" maxlength="25">
      </div>
    </div>
    <div class="list-item settings-item">
      <div class="list-item-info">
        <label for="js-bio">{{_ "bio"}}</label>
      </div>
      <div class="settings-input">
        <input type="text" id="js-bio" class="form-control" placeholder="{{_ 'bio'}}" value="{{currentUser.profile.bio}}" maxlength="100">
      </div>
    </div>
  {{/settingsBody}}
</template>
