<template name="settings">  
  {{> contentFor region="nav" template="nav"}}
  
  <div class="col-content page-body settings">
    <!-- <div class="page-header-buttons">
      <i id="js-back" class="fa fa-chevron-left"></i>
    </div> -->
    <div class="page-body-content">
      <h3>Profile</h3>
      <div class="list">
        <div class="list-item">
          <div class="list-item-info">
            <label for="js-name">Name</label>
            <input type="text" id="js-name" class="form-control" 
            placeholder="Name" value="{{currentUser.profile.name}}" maxlength="25">
          </div>
          <div class="list-item-action">
            <button id="js-edit-name" class="btn btn-default"><span>Save</span></button>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label for="js-bio">Bio</label>
            <input type="text" id="js-bio" class="form-control" 
            placeholder="Bio" value="{{currentUser.profile.bio}}" maxlength="100">
          </div>
          <div class="list-item-action">
            <button id="js-edit-bio" class="btn btn-default"><span>Save</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-content page-body settings">
    <div class="page-body-content">
      <h3>Account</h3>
      <div class="list">
        <div class="list-item">
          <div class="list-item-info">
            <label for="js-email">Email {{#unless currentUser.emails.[0].verified}}<a href="#" id="js-email-verification">(Resend Verification)</a>{{/unless}}</label>
            <input type="email" class="form-control" id="js-email" placeholder="Email" value="{{currentUser.emails.[0].address}}">
          </div>
          <div class="list-item-action">
            <button id="js-edit-email" class="btn btn-default"><span>Save</span></button>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label for="js-password">Password</label>
            <input type="password" class="form-control" id="js-password" disabled placeholder="Current Password" value="○○○○○○○">
            <input type="password" class="form-control" id="js-newPassword" placeholder="New Password" style="display: none;">
          </div>
          <div class="list-item-action">
            <button class="btn btn-default" id="js-edit-password"><span>Edit</span></button>
            <div class="btn-group" id="js-editing-password" style="display: none;">
              <button type="button" class="btn btn-default" id="js-save-password"><span>Save</span></button>  
              <button type="button" class="btn btn-default" id="js-cancel-password">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-content page-body settings">
    <div class="page-body-content">
      <h3>Notifications</h3>
      <div class="list">
        <div class="list-item">
          <div class="list-item-info">
            <label>Notifications</label>
            <p class="help-block">Turn all notifications on/off</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'media'}}" data-action="toggle-setting" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'media'}}" data-action="toggle-setting" value="0">Off</button>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label>Followers</label>
            <p class="help-block">Get notified when you gain a new follower</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'couriers.newFollower'}}" data-action="toggle-setting" 
              data-action-value="newFollower" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'couriers.newFollower'}}" data-action="toggle-setting" 
              data-action-value="newFollower" value="0">Off</button>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label>Following Users' Comments</label>
            <p class="help-block">Get notified when someone you are following posts a new comment</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'couriers.newComment.follower'}}" data-action="toggle-setting" 
              data-action-value="newComment-follower" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'couriers.newComment.follower'}}" data-action="toggle-setting" 
              data-action-value="newComment-follower" value="0">Off</button>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label>Following Users' Topics</label>
            <p class="help-block">Get notified when someone you are following creates a new topic</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'couriers.newTopic'}}" data-action="toggle-setting" 
              data-action-value="newTopic" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'couriers.newTopic'}}" data-action="toggle-setting" 
              data-action-value="newTopic" value="0">Off</button>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label>Comment Replies</label>
            <p class="help-block">Get notified whenever someone replies to your comment</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'couriers.newReply'}}" data-action="toggle-setting" 
              data-action-value="newReply" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'couriers.newReply'}}" data-action="toggle-setting" 
              data-action-value="newReply" value="0">Off</button>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label>Topic Comments</label>
            <p class="help-block">Get notified whenever someone posts a comment in your topic</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'couriers.newComment.topicOwner'}}" data-action="toggle-setting" 
              data-action-value="newComment-topicOwner" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'couriers.newComment.topicOwner'}}" data-action="toggle-setting" 
              data-action-value="newComment-topicOwner" value="0">Off</button>
            </div>
          </div>
        </div>
        <div class="list-item">
          <div class="list-item-info">
            <label>Following Topics</label>
            <p class="help-block">Get notified when someone posts a comment in a topic you are following</p>
          </div>
          <div class="list-item-action">
            <div class="btn-group">
              <button type="button" class="btn {{isEnabled 'couriers.newComment.topicFollower'}}" data-action="toggle-setting" 
              data-action-value="newComment-topicFollower" value="1">On</button>
              <button type="button" class="btn {{unlessEnabled 'couriers.newComment.topicFollower'}}" data-action="toggle-setting" 
              data-action-value="newComment-topicFollower" value="0">Off</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



















