<template name="settings">
  <div class="row full-height">
    <div class="col full-height col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="col-content page-body settings">
        <div class="page-header-buttons">
          <i id="js-back" class="fa fa-chevron-left"></i>
        </div>
        <div class="page-body-content">
          <h3>Profile</h3>
          <div class="list">
            <div class="list-item">
              <div class="list-item-info">
                <label for="js-profile-name">Name</label>
                <input type="text" id="js-profile-name" class="form-control" placeholder="Name">
              </div>
              <div class="list-item-action">
                <button class="btn btn-default">Save</button>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label for="js-profile-bio">Bio</label>
                <input type="text" id="js-profile-bio" class="form-control" placeholder="Bio">
              </div>
              <div class="list-item-action">
                <button class="btn btn-default">Save</button>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label for="js-profile-avatar">Avatar</label>
                <input type="file" id="js-profile-avatar">
                <p class="help-block">Example block-level help text here.</p>
              </div>
              <div class="list-item-action">
                <button class="btn btn-default">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-content page-body settings">
        <div class="page-body-content">
          <h3>Account</h3>
          <div class="list">
            <div class="list-item">
              <div class="list-item-info">
                <label for="js-account-email">Email</label>
                <input type="email" class="form-control" id="js-account-email" placeholder="Email">
              </div>
              <div class="list-item-action">
                <button class="btn btn-default">Save</button>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label for="js-account-password">Password</label>
                <input type="password" class="form-control" id="js-account-password" placeholder="Password">
              </div>
              <div class="list-item-action">
                <button class="btn btn-default">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-content page-body settings">
        <div class="page-body-content">
          <h3>Notifications</h3>
          <div class="list">
            <div class="list-item">
              <div class="list-item-info">
                <label>Notifications</label>
                <p class="help-block">Turn all notifications on/off</p>
              </div>
              <div class="list-item-action">
                <div id="js-notif-toggle" class="btn-group">
                  <button type="button" class="btn btn-primary">On</button>
                  <button type="button" class="btn btn-default">Off</button>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label>Following Users' Comments</label>
                <p class="help-block">Get notified when someone you are following posts a new comment</p>
              </div>
              <div class="list-item-action">
                <div id="js-notif-followingUser-comments" class="btn-group">
                  <button type="button" class="btn btn-primary">On</button>
                  <button type="button" class="btn btn-default">Off</button>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label>Following Users' Topics</label>
                <p class="help-block">Get notified when someone you are following creates a new topic</p>
              </div>
              <div class="list-item-action">
                <div id="js-notif-followingUser-topics" class="btn-group">
                  <button type="button" class="btn btn-primary">On</button>
                  <button type="button" class="btn btn-default">Off</button>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label>Comment Replies</label>
                <p class="help-block">Get notified whenever someone replies to your comment</p>
              </div>
              <div class="list-item-action">
                <div id="js-notif-ownComment-replies" class="btn-group">
                  <button type="button" class="btn btn-primary">On</button>
                  <button type="button" class="btn btn-default">Off</button>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label>Topic Comments</label>
                <p class="help-block">Get notified whenever someone posts a comment in your topic</p>
              </div>
              <div class="list-item-action">
                <div id="js-notif-ownTopic-comments" class="btn-group">
                  <button type="button" class="btn btn-primary">On</button>
                  <button type="button" class="btn btn-default">Off</button>
                </div>
              </div>
            </div>
            <div class="list-item">
              <div class="list-item-info">
                <label>Following Topics</label>
                <p class="help-block">Get notified when someone posts a comment in a topic you are following</p>
              </div>
              <div class="list-item-action">
                <div id="js-notif-followingTopic-comments" class="btn-group">
                  <button type="button" class="btn btn-primary">On</button>
                  <button type="button" class="btn btn-default">Off</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>



















