<template name="settingsAccount">
  {{#settingsBody title='Account Settings'}}
    <div class="list-item settings-item">
      <div class="list-item-info">
        <label for="js-email">Email {{#unless currentUser.emails.[0].verified}}<a href="#" id="js-email-verification">(Resend Verification)</a>{{/unless}}</label>
      </div>
      <div class="settings-input">
        <input type="email" class="form-control" id="js-email" placeholder="Email" value="{{currentUser.emails.[0].address}}">
      </div>
    </div>
    <div class="list-item settings-item">
      <div class="list-item-info">
        <label for="js-password">Password</label>
      </div>
      <div class="settings-input">
        {{#if changingPassword}}
          <input type="password" class="form-control" id="js-password" placeholder="Current Password">
          <input type="password" class="form-control" id="js-newPassword" placeholder="New Password">
        {{else}}
          <a href="#" id="js-edit-password" class="action-link">Change Password</a>
        {{/if}}
      </div>
    </div>
  {{/settingsBody}}
</template>