<template name="settingsAccount">
  {{#settingsBody title=settingsTitle}}
    <div class="list-item settings-item">
      <div class="list-item-info">
        <label for="js-email">{{_ "email"}}</label>
        {{#unless currentUser.emails.[0].verified}}
          <a href="#" id="js-email-verification" class="action-link">{{_ "resend_verification"}}</a>
        {{/unless}}
      </div>
      <div class="settings-input">
        <input type="email" class="form-control" id="js-email" placeholder="Email" value="{{currentUser.emails.[0].address}}">
      </div>
    </div>
    <div class="list-item settings-item">
      <div class="list-item-info">
        <label for="js-password">{{_ "password"}}</label>
      </div>
      {{#if changingPassword}}
        <div class="settings-input">
          <input type="password" class="form-control" id="js-password" placeholder="{{_ 'current_password'}}">
        </div>
        <div class="settings-input">
          <input type="password" class="form-control" id="js-newPassword" placeholder="{{_ 'new_password'}}">
        </div>
      {{else}}
        <div class="settings-input">
          <a href="#" id="js-edit-password" class="action-link">{{_ "change_password"}}</a>
        </div>
      {{/if}}
    </div>
  {{/settingsBody}}
</template>
