<template name="signupModal">
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {{#if showLogin}}
            <form id="js-login-form" role="form">
              <input type="text" class="form-control" id="js-email" placeholder="{{_ 'email'}}">
              <input type="password" class="form-control" id="js-password" placeholder="{{_ 'password'}}">
              <button type="submit" class="btn btn-primary">{{_ "login"}}</button>
            </form>
            <a href="#" class="action-link js-show-signup">{{_ "sign_up"}}</a>
            <a href="#" class="action-link">{{_ "forgot_password"}}</a>
          {{else}}
            <form id="js-signup-form" role="form">
              <input type="email" class="form-control" id="js-create-email" placeholder="{{_ 'email'}}">
              <input type="text" class="form-control" id="js-create-name" placeholder="{{_ 'name'}}">
              <input type="password" class="form-control" id="js-create-password" placeholder="{{_ 'password'}}">
              <button type="submit" class="btn btn-primary">{{_ "sign_up"}}</button>
            </form>
            <a href="#" class="action-link js-show-login">{{_ "login"}}</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
