<template name="home">
	<div class="row">
		<div class="col col-xs-12 col-sm-8 col-sm-offset-2">
			{{> searchInput}}

			{{#if searching}}
				{{> searchResults}}
			{{else}}
				{{#if topics.count}}
					<div id="topics-container">
						{{#each topics}}
							{{> topicItem}}
						{{/each}}
					</div>
				{{/if}}

				{{#if moreTopics}}
					<div class="show-more">
						<span class="alert alert-info">Loading more...</span>
					</div>
				{{else}}
					<div class="show-more">
						<p>No more topics.</p>
					</div>
				{{/if}}
			{{/if}}
		</div>
	</div>

	<div class="modal fade" id="new-topic-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content custom">
	      <div class="modal-header">
	      	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h3 class="modal-title" id="modalLabel">Create Topic</h3>
	      </div>
	      <div class="modal-body">
	      	<form role="form" id="create-topic-form">
					  <div class="form-group">
					    <input type="text" class="form-control" id="create-title" placeholder="Ask a question!">
					  </div>
					  <button type="submit" class="btn btn-default">Submit</button>
					</form>
	      </div>
	    </div>
	  </div>
	</div>
</template>