<p style="margin-top: 0;">
  Hey there, {{user.profile.name}}! Just wanted to let you know that {{author.name}} created a new topic: {{topic.title}}.
</p>
<div class="action-container">
  <a href="{{actionLink}}">Discuss</a>
</div>