@import "includes.import.less";

.comment-container:before {
  content: "▲";
  display: inline-block;
  text-shadow: 0 -2px 1px rgba(0,0,0,0.18);
  position: relative;
  top: -18px;
  .transform(scale(3,2));
}
.comment-container {
  opacity: 0;
  margin: @padding-large -@padding-main;
  padding: 0 @padding-main @padding-small;
  box-shadow: 0px -5px 6px -3px rgba(0,0,0,0.3), 0px 7px 6px -3px rgba(0,0,0,0.3);
  .border-radius(@radius-main);
  .comment.comment-reply, 
  .comment.comment-reply a {
    background-color: #fff;
    color: #333;
  }
}

.comment-container.pro:before { left: 13%; }
.comment-container.pro0:before { color: @color-pro0; }
.comment-container.pro1:before { color: @color-pro1; }
.comment-container.pro2:before { color: @color-pro2; }
.comment-container.pro3:before { color: @color-pro3; }
.comment-container.pro4:before { color: @color-pro4; }

.comment-container.con:before { left: 85%; }
.comment-container.con0:before { color: @color-con0; }
.comment-container.con1:before { color: @color-con1; }
.comment-container.con2:before { color: @color-con2; }
.comment-container.con3:before { color: @color-con3; }
.comment-container.con4:before { color: @color-con4; }

.pro0 { background: @color-pro0; }
.pro1 { background: @color-pro1; }
.pro2 { background: @color-pro2; }
.pro3 { background: @color-pro3; }
.pro4 { background: @color-pro4; }

.con0 { background: @color-con0; }
.con1 { background: @color-con1; }
.con2 { background: @color-con2; }
.con3 { background: @color-con3; }
.con4 { background: @color-con4; }

.comment-pro, 
.comment-con { 
  padding: 7.5px;
}
.comment.pro,
.comment.con {
  .avatar { position: relative; }
  .avatar:after {
    content: " ";
    display: block;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: -2px;
    right: 0;
    border: 3px solid #fff;
    .border-radius(50%);
  }
}
.comment-pro { 
  padding-left: 0; 
}
.comment.pro .avatar:after { background-color: @color-pro; }

.comment-con { 
  padding-right: 0; 
}
.comment.con .avatar:after { background-color: @color-con; }

.comment-row {
  padding: 0;
  width: 100%;
}
// .comment-replies {}
.comment-new {
  margin-bottom: 7.5px;
}
.comment-new > input.form-control {
  background-color: #fff;
  padding: @padding-large @padding-small;
}
.comment-new textarea {
  padding: 12px @padding-small 0;
  background-color: transparent;
}
.comment-new .comment-new-action {
  padding: 0 @padding-small @padding-small;
}
.comment-new .comment-new-action a {
  float: left;
}
.comment-new .comment-new-action a,
.comment-new .comment-new-action .toggle {
  margin: 3px @padding-small 0 0;
}
.comment-new .comment-new-action .toggle,
.comment-new .comment-new-action button {
  float: right;
}

// comment card display ------------------------------
.comment {
  padding: 0;
  overflow: hidden;
}
.comment .comment-header {
  padding: @padding-large @padding-main @padding-small;
}
.comment .comment-content {
  padding: 0 @padding-main;
  word-wrap: break-word;
}
.comment.collapsed .comment-content {
  height: 120px;
  overflow-y: hidden;
}
.comment.deleted,
.comment.comment-reply {
  background-color: #fafafa;
  color: #969696;
}
.comment.comment-reply a {
  color: #969696; 
}
.comment.deleted .comment-content {
  height: 195px;
  padding-top: @padding-large;
  cursor: default; 
}
.comment .comment-info {
  padding: 0 @padding-main;
  margin-top: @padding-small;
  height: 20px;
  font-size: @fontSize-small;
  span { padding-right: 8px; }
}
.comment .comment-footer {
  // padding: @padding-small @padding-main;
  height: 36px;
  background: @color-lightGray;
}
.comment-footer-left,
.comment-footer-left .icon-group {
  height: 16px;
}

// comment item --------------------------------------

.comment.comment-item.collapsed .comment-content {
  min-height: 40px;
  height: 40px;
}













