@import "includes.import.less";

// general helper classes ----------------------------

.center {
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// buttons -------------------------------------------

.btn {
  border: none;
  color: white !important;
  box-shadow: none;
  padding: .3em .6em;
  .border-radius;
}
.btn.btn-pro, 
.btn.btn-con {
  width: 60px;
  // height: 30px;
  font-weight: 500;
  line-height: 1.1em;
  font-size: @fontSize-large;
}
.btn.btn-pro { 
  background-color: @color-pro; 
  margin-right: 7.5px;
}
.btn.btn-con { 
  background-color: @color-con;
  margin-left: 7.5px;
}
.btn.btn-default {
  background-color: @color-primary;
}
.btn.btn-primary { 
  background-color: @color-darkPrimary; 
}

.toggle {
  height: 20px;
  .no-select;
}
.toggle input[type=checkbox],
.toggle input[type=radio] {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  text-indent: -100000px;
  filter: alpha(opacity=0);
  opacity: 0;
}
.toggle .handle {
  position: relative;
  top: -20px;
  left: 0;
  display: block;
  width: 40px;
  height: 20px;
  background-color: #ebebeb;
  .border-radius(19px);
}
.toggle.comment-side .handle {
  background-color: @color-pro;
}
.toggle.comment-side input[type=checkbox]:checked + .handle:before,
.toggle.comment-side input[type=radio]:checked + .handle:before {
  background-color: @color-con;
}
.toggle .handle:after,
.toggle .handle:before {
  position: absolute;
  top: 2px;
  left: 2px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #fff;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  .border-radius(30px);
}
.toggle input[type=checkbox]:disabled + .handle,
.toggle input[type=checkbox]:disabled + .handle:after,
.toggle input[type=checkbox]:disabled + .handle:before,
.toggle input[type=radio]:disabled + .handle,
.toggle input[type=radio]:disabled + .handle:after,
.toggle input[type=radio]:disabled + .handle:before {
  background-color: #e6e9ed;
  filter: alpha(opacity=60);
  opacity: .6;
}
.toggle input[type=checkbox]:checked + .handle:before,
.toggle input[type=radio]:checked + .handle:before {
  width: 40px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: @color-pro;
}
.toggle input[type=checkbox]:checked + .handle:after,
.toggle input[type=radio]:checked + .handle:after {
  left: 22px;
}

.icon-group {
  display: inline-block;
  cursor: pointer;
  padding-right: 8px;
  color: rgb(176, 176, 176);
  &:last-of-type { padding-right: 0; }
}
.icon-group.liked .icon-action { // liked comment
  color: #cb2027;
}
.icon-group.showing .icon-action { // showing comment replies
  color: @color-primary;
}
.icon-text {
  font-size: 11px;
  position: relative;
  top: -3px;
}

// general layout components -------------------------

.container,
.container-fluid {
  width: 100%;
  height: 100%;
  padding: 0;
}
.container-fluid.wrapper {
  padding-top: 50px;
}
.navbar {
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 0;
  .border-shadow;
}
.navbar-header, 
.navbar-search {
  padding-right: 0;
}
.navbar-brand {
  right: 0;
  margin-left: 0;
  float: left;
}
.navbar-nav {
  margin: 0;
  padding: 0;
}
.navbar-nav > li a {
  padding: @padding-small;
}
@media (min-width: 768px) {
  .navbar-nav > li {
    float: right;
  }
  .navbar-nav:last-of-type {
    padding-right: @padding-small;
  }
  .nav > li > a,
  .nav > li > a:hover {
    background: none !important;
  }
  .navbar-nav > li a {
    padding: @padding-small 6px;
  }
}
.navbar-nav > li .dropdown-menu {
  margin-top: @padding-main;
  .border-radius(@radius-main);
}
.navbar-nav > li .navbar-item,
.navbar-nav > li .navbar-item .notification-badge {
  width: 30px; 
  height: 30px;
  line-height: 31px;
}
.navbar-nav > li .icon-group {
  border-radius: 50%; 
  background-color: rgba(0,0,0,0.4);
  padding: 2px 8px;
  color: #fff;
}
.navbar-nav > li .notification-badge {
  position: relative;
  top: 0; 
  left: 0;
  font-size: 15px;
  font-weight: bold;
}
.navbar-right {
  float: left;
}
.icon-bar {
  background-color: #fff;
}
.navbar-toggle,
.navbar-toggle.collapsed:hover {
  background-color: rgba(0,0,0,0.2);
  margin-right: 30px;
}
.navbar-toggle.collapsed {
  background-color: #e3e3e3;
}

.col {
  padding: @padding-larger @padding-main;
}
.col-content {
  padding: @padding-main;
}
.divider {
  margin: 0 @padding-main;
}
.divider hr {
  border: 0;
  height: 1px;
  margin: 0;
  background-color: #eee;
}
.full-height {
  height: 100%;
}
.comment,
.comment-new,
.topic-item,
.page-head,
.page-body .page-body-content {
  background-color: #fff;
  .border-radius(@radius-main);
  .border-shadow;
}
.page-head {
  margin-bottom: @padding-larger;
}
.page-head .page-head-action {
  padding: @padding-main @padding-main 0;
  height: 45px;
}
.page-head .page-head-action i {
  color: @color-darkGray;
  &:hover { 
    cursor: pointer; 
    color: black; 
  }
}
.page-head .page-head-content {
  padding: 0 @padding-main;
}
.page-body .page-body-content {
  padding: @padding-large @padding-main;
}

.page-nav .page-nav-action {
  list-style: none;
  padding: 0;
  margin: auto;
  display: table;
  table-layout: fixed;
}
.page-nav .page-nav-action li {
  // background-color: #fff;
  display: table-cell;
  float: none;
  line-height: 14px;
  text-align: center;
  padding: @padding-main 0;
}
.page-nav .page-nav-action li a {
  display: block;
  font-weight: normal;
  padding: 0;
  width: 120px;
  .overflow-ellipsis;
}
.page-nav .page-nav-action li a:hover .value,
.page-nav .page-nav-action li a:hover .label,
.page-nav .page-nav-action li a.active .value,
.page-nav .page-nav-action li a.active .label {
  color: @color-primary;
}
.page-nav .page-nav-action li a .value {
  display: block;
  font-weight: bold;
  padding-bottom: 3px;
  font-size: @fontSize-large;
  color: #aaa;
}
.page-nav .page-nav-action li a .label {
  display: block;
  font-weight: normal;
  font-size: @fontSize-small;
  color: #9a9a9a;
}
.page-body-content.no-container {
  box-shadow: none;
  background-color: transparent;
  padding: 0;
}
.page-body-header .page-title {
  padding: @padding-small @padding-main 0;  
}
.page-body-header .page-title h3 { 
  display: inline-block;
}
.page-body-header .dropdown-toggle {
  border: none;
  background: transparent;
  &:active { box-shadow: none; }
}

// list (inspired by medium) -------------------------

.list-item {
  display: block;
  margin-bottom: @padding-larger;
  overflow: hidden; 

  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}
.list-item-info input,
.list-item-info input:focus {
  border: none; 
  background: transparent; 
  box-shadow: none; 
  padding: 0;
}

.topic-item:hover,
.collapsible:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.list-item.comment-item,
.list-item.topic-item {
  margin-bottom: @padding-larger;
}
.topic-item.has-comment { 
  margin-bottom: @padding-small; 
}
.topic-item .list-item-action {
  padding: @padding-main @padding-main 0;
}
.topic-item .list-item-action button {
  margin: 0;
  width: 40px;
}
.topic-item .list-item-action h3 { 
  display: inline-block; 
  margin-left: @padding-main;
}
.topic-info,
.topic-item .list-item-info {
  padding: 0 @padding-main @padding-small;
}
.topic-info div,
.topic-item .list-item-info div {
  display: inline-block;
  margin: @padding-small @padding-small 0 0;
  &:last-of-type { margin-right: 0; }
}

.settings-item {
  margin-bottom: 0;
}
.settings-item .list-item-info,
.settings-item .settings-input {
  padding: @padding-smaller 0;
}
.flag-item .list-item-info,
.settings-item .list-item-info {
  float: left;
  width: 35%;
}
.settings-item .settings-input {
  display: block;
  margin-left: 35%;
}
.flag-item .list-item-action,
.settings-item .list-item-action,
.profile-item .list-item-action {
  float: right;
}
.profile-item {
  height: auto; 
  overflow: hidden;
  display: block;
}
.profile-item .profile-item-left {
  margin-right: @padding-main; 
  float: left;
}
.profile-item .profile-item-right {
  display: block; 
  margin-left: 55px;
  // height: 40px;
}
.profile-item .profile-item-right > div:first-of-type {
  margin: 0 0 @padding-smaller;
}
.profile-item .profile-item-right .action-link {
  font-weight: bold;
}
.flag-item .icon-group,
.profile-item .icon-group {
  background-color: rgba(0,0,0,0.2);
  width: 25px;
  height: 25px;
  padding: 0;
  line-height: 24px;
  border-radius: 4px;
  position: relative;
  // &:hover { background-color: @color-primary; }
}
.flag-item .icon-group .icon-action,
.profile-item .icon-group .icon-action {
  margin-top: @padding-smaller;
  text-align: center;
  width: 100%;
  position: absolute;
  color: #fff;
}
.flag-item .icon-group.helpful,
.profile-item .icon-group.following {
  background-color: @color-primary;
}

// dropdown ------------------------------------------

.dropdown { 
  margin-top: 0; 
  border: none;
}
.dropdown-menu {
  width: 100%;
  margin-top: @padding-main; 
  padding: 0;
  border: none;
  background-color: #fff;
  left: auto;
  right: 0;
  overflow: auto;
  .border-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.3));
  .border-radius(@radius-main);
}
.dropdown-menu .list-item {
  display: block;
  padding: 7.5px @padding-small;
  margin: 0;
  border-bottom: 1px solid rgb(225, 225, 225);
}
.notification-item.read,
.dropdown-menu .list-item:hover {
  background-color: @color-gray;
}
.dropdown-menu .no-notifications a {
  cursor: default;
  &:hover { background: none; }
}
.dropdown-menu.notifications {
  height: 160px;
  width: 260px;
}
@media (min-width: 768px) {
  .dropdown-menu.notifications {
    height: 450px;
  }
}

// invite menu ---------------------------------------

.invite.icon-group {
  margin: 0; 
  padding: @padding-small; 
  position: fixed; 
  z-index: 2;
  bottom: 20px; 
  right: 20px; 
  width: 36px; 
  height: 36px; 
  background-color: #fff; 
  .border-radius(50%); 
  .border-shadow;
  display: block; 
  // color: rgba(0,0,0,0.5);
  color: @fontColor-muted;
  &:hover {
    // color: rgba(0,0,0,0.5);
    color: @fontColor-muted;
    background-color: #f0f0f0;
  }
}

// navbar --------------------------------------------

.form-control-feedback { 
  right: 0; 
  color: @color-darkGray;
  pointer-events: auto;
  &:hover { cursor: pointer; }
}

// settings page -------------------------------------

.page-body.settings {
  margin-bottom: @padding-large;
}
.page-body.settings .page-body-content {
  padding: @padding-main;
}

// profile page --------------------------------------

.icon-action {
  font-size: 16px;
}
.profile-header {
  margin: 0 auto; 
  width: 400px; 
  text-align: center;
}
.profile-avatar {
  display: inline-block; 
  margin-bottom: @padding-main;
}
// .profile-title {}

// topic page ----------------------------------------

.topic-vote {
  padding: @padding-large;
}
.topic-vote .btn {
  height: 35px;
  &:after {
    content: "";
    display: block;    
    height: 5px;
    width: 5px;
  }
  &.selected:after {
    margin: 0 auto;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
  }
}
.topic-info {
  color: @fontColor-muted;
}
.topic-description {
  word-wrap: break-word;
}
.topic-description.collapsed {
  max-height: 75px;
  overflow: hidden;
}
.show-more {
  margin: 80px 0;
  text-align: center;
}

// landing page --------------------------------------

.landing-container {
  max-width: 600px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
.landing-header {
  display: table;
  padding: 100px 0 80px;  
  margin: 0 auto;
}
.landing-image {
  display: table-cell;
  position: relative;
  img { width: 600px; }
}
.landing-image h3 { 
  position: absolute; 
  top: 65px; 
  left: 40px;
  font-size: @fontSize-large;
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}
.landing-image span {
  position: absolute;
  top: 108px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.45);
  &:first-of-type { left: 250px; }
  &:last-of-type { right: 253px; }
}
.landing-login {
  position: absolute;
  top: 20px;
  right: 40px;
}
.landing-form-errors > li {
  text-align: center;
  padding: 0 @padding-main @padding-main;
}

// landing form --------------------------------------

.landing-form-container {
  width: 300px;
  margin: 100px auto;
  padding: @padding-main 40px;
}
.landing-form-errors > li {
  text-align: center;
  padding: 0 @padding-main @padding-main;
}
.landing-form-header {
  margin-bottom: @padding-larger;
  text-align: center;
}
.landing-form-body button {
  width: 100%;
  margin: @padding-main 0 @padding-small;
}
.landing-form-body input {
  background: #fff;
  border-radius: 0 0 4px 4px;
  &:first-of-type {
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
  }
}

// search form ---------------------------------------

.navbar-form.search-form {
  margin: @padding-small 0;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-form.search-form,
.navbar-form .search-input,
.navbar-form .search-form-group,
.search-form-group .form-control-feedback {
  height: 30px;
}
.search-form-group .form-control-feedback {
  line-height: 30px;
}
.navbar-form .search-input,
.navbar-form .search-form-group {
  width: 100%;  
}
.navbar-form .search-input {
  border-radius: 16px;
}
.search-users,
.search-topics {
  h3 { margin-bottom: 0; }
  button { width: 100%; }
}
.search-topics {
  width: 70%;
  float: left;
  padding-right: @padding-large;
}
.search-users {
  width: 30%;
  float: right;
}

// notification badge --------------------------------

.notification-container span {
  display: inline-block;
}

// iron router loader --------------------------------

#iron-router-progress {
  background-color: #78F7EE;
  box-shadow: 0 0 5px #B4FCF7;

  &:before { display: none !important; }
}

// modal ---------------------------------------------

.modal-open.modal {
  outline: none !important;
}
.modal-backdrop {
  background: #969696;
}
.modal.fade .modal-dialog {
  .transition(ease-out);
}
.modal.in .modal-dialog {
  .transition(ease-in-out);
}
.modal-content {
  .border-radius(@radius-main);
  border: none;
  .border-shadow(0 1px 5px 0 rgba(0, 0, 0, 0.3));
}
.modal-header {
  border: none;
  padding-bottom: @padding-small;
}
.modal-content .action-group button {
  float: right;
}



















