@import "includes.import.less";

// general helper classes ----------------------------

.center {
  text-align: center;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.clearfix {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  *zoom: 1;
}

// buttons -------------------------------------------

.btn {
  border: none;
  color: white !important;
  box-shadow: none;
  padding: .2em .6em;
  border-radius: @main-radius;
}
.btn.btn-pro { .popout-button(@pro-color); }
.btn.btn-con { .popout-button(@con-color); }
.btn.btn-default {
  .popout-button(@primary-color);
}
.btn.btn-primary { 
  .popout-button(@dark-primary-color);
  background-color: @dark-primary-color; 
}
.round {
  margin: 10px;
  padding: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  .border-radius(50%);
}
.invite {
  float: right;
  margin-right: 20px;
}

.icon-group {
  display: inline-block;
  cursor: pointer;
  padding-right: 8px;
  color: rgb(176, 176, 176);

  &:hover { color: rgb(132, 132, 132); }
}
.icon-group.liked .icon-action { // liked comment
  color: #cb2027;
}
.icon-group.showing .icon-action { // showing comment replies
  color: rgb(132, 132, 132);
}
.icon-text {
  font-size: 11px;
  position: relative;
  top: -1px;
}

// general layout components -------------------------

.container,
.container-fluid {
  width: 100%;
  padding: 0;
}
.container-fluid.wrapper {
  padding-top: 50px;
}
.navbar {
  border-bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 0;
  .border-shadow;
}
.navbar-header {
  padding-right: 0;
}
.navbar-brand {
  right: 0;
  margin-left: 0;
  float: left;
}
@media (min-width: 768px) {
  .navbar-brand {
    float: right;
  }
}
.navbar-nav {
  margin: 0;
  padding: 0;
}
// .navbar-collapse .navbar-nav {
//   margin: 7.5px 10px;
//   padding-left: 15px;
// }
.navbar-right {
  float: left;
}

.col {
  padding: 30px 15px;
}
.col-content {
  padding: @main-padding;
}
.divider {
  margin: 0 15px;
}
.divider hr {
  border: 0;
  height: 1px;
  margin: 0;
  background-color: #eee;
}
.full-height {
  height: 100%;
}
.page-head,
.page-body {
  background-color: #fff;
  .border-radius(@main-radius);
  .border-shadow;
}
.page-head {
  margin-bottom: 30px;
}
.page-head .page-head-action {
  padding: 15px 15px 0;
  height: 45px;
}
.page-head .page-head-action i {
  color: @dark-gray;
  &:hover { 
    cursor: pointer; 
    color: black; 
  }
}
.page-head .page-head-content {
  padding: 0 15px;
}
.page-nav .page-nav-action {
  list-style: none;
  padding: 0;
  margin: auto;
  display: table;
  table-layout: fixed;
}
.page-nav .page-nav-action li {
  // background-color: #fff;
  display: table-cell;
  float: none;
  line-height: 14px;
  text-align: center;
  padding: @main-padding 0;
}
.page-nav .page-nav-action li a {
  display: block;
  font-weight: normal;
  padding: 0;
  width: 120px;
  .overflow-ellipsis;
}
.page-nav .page-nav-action li a:hover .value,
.page-nav .page-nav-action li a:hover .label,
.page-nav .page-nav-action li a.active .value,
.page-nav .page-nav-action li a.active .label {
  color: #cb2027;
}
.page-nav .page-nav-action li a .value {
  display: block;
  font-weight: bold;
  padding-bottom: 3px;
  font-size: 16px;
  color: #aaa;
}
.page-nav .page-nav-action li a .label {
  display: block;
  font-weight: normal;
  font-size: 11px;
  color: #9a9a9a;
}
// .page-body-content.col-content {
//   padding-top: 0;
// }
.page-body.topic-comments {
  box-shadow: none;
  background-color: transparent;
}
.page-body-header {
  padding: 10px 15px 0;
}
.page-body-header h3 { 
  display: inline-block;
}
.page-body-header .dropdown-toggle {
  border: none;
  background: transparent;
  &:active { box-shadow: none; }
}

// dropdown ------------------------------------------

.dropdown { 
  margin: 0; 
  border: none;
}
.dropdown-menu {
  width: 100%;
  margin-top: 10px;
  border-color: @dark-gray;
  background: @light-gray;
  box-shadow: none;
  .border-radius(@main-radius);
}
.dropdown-menu .list-item {
  display: block;
  padding: 5px 10px;
  &:hover { background: @gray; }
}

// invite menu ---------------------------------------

.invite-menu {
  padding: 15px 10px;
  left: 45px;
  width: 220px;
}
.invite-menu input {
  height: 30px;
}

// list (inspired by medium) -------------------------

.list-item {
  padding: 20px 0;
  overflow: hidden; 
  position: relative;
  // color: @fontColor-muted;
  // &:hover { color: black; }
}
.list-header {
  padding-bottom: 0;
  .content-header(black);
}
.list-item-info {
  width: 80%; 
  float: left;
}
.list-item-info .form-control,
.list-item-info .form-control:focus {
  border: none; 
  background: transparent; 
  box-shadow: none; 
  padding: 0;
}
.list-item-action {
  position: absolute; 
  right: 0; 
}
.list-item.top-comment-item {
  padding: 0; 
}
.profile-item .profile-item-left {
  width: 40px; 
  margin-right: 15px; 
  position: relative; 
  float: left;
}
.profile-item-right {
  display: block; 
  margin-left: 55px;
}
.profile-item-right h3 {
  margin-bottom: 5px;
}
.profile-item-right small {
  margin-right: 10px;
}

// navbar --------------------------------------------

.form-group.has-feedback { 
  margin: 0;
}
.form-group.has-feedback input { 
  padding-right: 0px; 
}
.form-control-feedback { 
  right: 0; 
  color: @dark-gray;
  pointer-events: auto;
  &:hover { cursor: pointer; }
}

// settings page -------------------------------------

.page-body.settings {
  margin-bottom: 20px;
}

// profile page --------------------------------------

.profile-header {
  margin: 0 auto; 
  width: 400px; 
  text-align: center;
}
.profile-avatar {
  display: inline-block; 
  margin-bottom: 15px;
}
// .profile-title {}

// topic page ----------------------------------------

.vote {
  padding: 40px;
}
.show-more {
  margin: 80px 0;
  text-align: center;
}
.muted {
  color: @fontColor-muted;
}
// .topic-header {
//   padding: 15px 30px 7.5px;
// }
// .topic-category-title {
//   float: left;
// }
// .topic-new-comment {
//   float: right;
// }

// landing page --------------------------------------

.landing-container {
  width: 300px;
  margin: 100px auto;
  padding: @main-padding 40px;
}
.landing-form-errors > li {
  text-align: center;
  padding: 0 @main-padding @main-padding;
}
.landing-form-header {
  margin-bottom: 30px;
  text-align: center;
}
.landing-form-body > form > button {
  width: 100%;
  margin: @main-padding 0 10px;
}

// search form ---------------------------------------

.navbar-form.search-form {
  margin: 8px 0;
}
.navbar-form .search-input,
.navbar-form .search-form-group {
  width: 100%;
}

// notification badge --------------------------------

.notification-container span {
  display: inline-block;
}

// iron router loader --------------------------------

#iron-router-progress {
  background-color: #78F7EE;
  box-shadow: 0 0 5px #B4FCF7;

  &:before { display: none !important; }
}

// modal ---------------------------------------------

.modal-open.modal {
  outline: none !important;
}
.modal-backdrop {
  background: white;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.modal-dialog {
  background: transparent;
}
.modal.fade .modal-dialog {
  .transition(ease-out);
}
.modal.in .modal-dialog {
  .transition(ease-in-out);
}
.modal-content {
  .border-radius(@main-radius);
  box-shadow: none;
}




















