// fonts
@fontSize-small: 0.75em;
// @fontSize-base: 1em;
@fontSize-large: 1.3em;
// @fontSize-larger: 1.5em;
@fontColor-muted: rgba(0, 0, 0, 0.6);

// line heights
// @lineHeight-tight
// @lineHeight-base
// @lineHeight-loose

// paddings
@padding-smaller: 5px;
@padding-small: 10px;
@padding-main: 15px;
@padding-large: 20px;
@padding-larger: 30px;

// misc
@radius-main: 0.3em;

// margins

// colors --------------------------------------------

@color-pro0: rgb(153, 218, 213);
@color-pro1: rgb(200, 230, 200);
@color-pro2: rgb(180, 236, 252);
@color-pro3: rgb(203, 224, 172);
@color-pro4: rgb(124, 178, 211);

@color-con0: rgb(238, 121, 137);
@color-con1: rgb(245, 181, 135);
@color-con2: rgb(228, 103, 87);
@color-con3: rgb(218, 127, 154);
@color-con4: rgb(225, 150, 206);

// layout element colors
// @color-lightGray: rgb(235, 235, 235); // rgba(220, 220, 220, 0.6);
@color-lightGray: rgb(240, 240, 240);
// @color-darkGray: rgb(160, 160, 160);

@color-gray: #ABB7B7; // rgb(127, 175, 247);
@color-darkGray: #95A5A6; // rgb(127, 175, 247);

@color-primary: #4fc1e9; // rgb(62, 130, 231);
@color-darkPrimary: #3bafda; // rgb(27, 103, 215);

@color-background: #ebebeb;
@color-pro: rgb(146, 240, 52);
@color-con: rgb(255, 82, 76);

// bg color fade effect ----------------------------

@-webkit-keyframes target-fade {
  0% { background-color: rgba(202, 245, 245, .6); }
  100% { background-color: #fff; }
}
@-moz-keyframes target-fade {
  0% { background-color: rgba(202, 245, 245, .6); }
  100% { background-color: #fff; }
}

// mixins --------------------------------------------

.bg-fade {
  -webkit-animation: target-fade 2s 1;
  -moz-animation: target-fade 2s 1;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content-header {
  font-size: @fontSize-large;
  font-weight: 400;
}
.content-header(@color) {
  .content-header;
  color: @color;
}
.border-shadow(@shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}
.border-radius(@radius: @radius-main) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}
.transform(@transform) {
  -webkit-transform: @transform;
      -ms-transform: @transform;
          transform: @transform;
}
.transition(@type) {
  -webkit-transition: -webkit-transform .3s @type;
     -moz-transition:    -moz-transform .3s @type;
       -o-transition:      -o-transform .3s @type;
          transition:         transform .3s @type;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.muted {
  color: @fontColor-muted;
}
.uppercase {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: 700;
  &.muted { color: rgba(0, 0, 0, 0.35); }
}











