@import "includes.import.less";
@import "comments.import.less";
@import "components.import.less";

// media queries -------------------------------------
// @media (min-width: 768px) {
// 	body { padding-top: @top-padding; }	//no top padding when xs
// }

// general styles ------------------------------------

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	background-color: @background-color;
}
.row {
  margin: 0;
}
// .col-sm-8 {
//   max-width: 1066px;
// }
input, 
textarea, 
button {
	.border-radius(@main-radius);
}
h3 {
	.content-header;
	margin-top: 0;
}
a, a:hover, a:active {
	text-decoration: none;
	color: @fontColor-muted;
}
a:hover .action-link {
  text-decoration: underline;
}
// a:hover, 
.icon-group:hover { 
  color: black !important;
}
textarea {
	width: 100%;
	max-width: 100%;
  border: none;
  border-color: transparent; 
  overflow: auto;
  outline: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  //background: transparent;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a,
input,
button {
	&:active, 
	&:focus { outline: none !important; }
}
.form-control,
.form-control:focus { 
  border: 1px solid #ccc;
  box-shadow: none;
}
.editable {
  background: #fff;
  border-radius: @main-radius;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 80px;
  
  &:after {
    top: 10px;
    left: 10px;
  }
}
.markdown {
  img {
    max-width: 100%;
  }
  ul, ol, p, pre, blockquote {
    margin-bottom: 1em;
    line-height: 1.7;
  }
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  ul, ol {
    padding-left: 18px;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  a {
    &:link, &:visited, &:active {
      color: blue;
    }
    &:hover {
      color: red;
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 0;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    font-size: 14px;
  }
  code {
    font-family: monospace;
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
  pre {
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    overflow-x: scroll;
    code {
      border: none;
      background: none;
    } 
  }
  blockquote {
    border-left: 3px solid #eee;
    padding-left: 20px;
  }
}










