@import "includes.import.less";
@import "comments.import.less";
@import "components.import.less";

// media queries -------------------------------------
// @media (min-width: 768px) {
// 	body { padding-top: @top-padding; }	//no top padding when xs
// }

// general styles ------------------------------------

html {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Lato', sans-serif;
}
body {
	background-color: @color-background;
  height: 100%;
}
.row {
  margin: 0;
}
// .col-sm-8 {
//   max-width: 1066px;
// }
input, 
textarea, 
button {
	.border-radius(@radius-main);
}
h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}
h1, h2 { font-weight: 300; }
h2 { font-size: 1.8em; }
h3 {
	.content-header;
	margin-top: 0;
}
a, 
a:link, 
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #454545;
}
.action-link:hover,
a.action-group:hover .action-link {
  text-decoration: underline;
}
// a:hover, 
.icon-group:hover { 
  // color: black;
  color: @color-primary;
}
textarea {
	width: 100%;
	max-width: 100%;
  overflow: auto;
  outline: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a,
input,
button {
	&:active, 
	&:focus { outline: none !important; }
}
textarea,
.form-control,
.form-control:focus { 
  border: none;
  box-shadow: none;
  background-color: @color-lightGray;
}
.editable {
  background: #fff;
  border-radius: @radius-main;
  outline: none;
  padding: @padding-small;
  margin-bottom: @padding-small;
  min-height: 80px;
  
  &:after {
    top: 10px;
    left: 10px;
  }
}
.markdown {
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  a, 
  a:link, 
  a:visited,
  a:hover,
  a:active {
    text-decoration: underline;
  }
  a:hover {
    color: @color-primary;
  }
  code {
    font-family: monospace;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
  pre {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    overflow-x: scroll;
    code {
      border: none;
      background: none;
    } 
  }
  > :last-child {
    margin-bottom: 0 !important;
  }
}










