@import "includes.import.less";
@import "comments.import.less";
@import "components.import.less";

// media queries -------------------------------------
// @media (min-width: 768px) {
// 	body { padding-top: @top-padding; }	//no top padding when xs
// }

// general styles ------------------------------------

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
	background-color: @background-color;
}
.row {
  margin: 0;
}
// .col-sm-8 {
//   max-width: 1066px;
// }
input, 
textarea, 
button {
	.border-radius(@main-radius);
}
h3 {
	.content-header;
	margin-top: 0;
}
a {
	text-decoration: none !important;
	color: @fontColor-muted !important;
}
.action-link:hover,
a.action-group:hover .action-link {
  text-decoration: underline !important;
}
// a:hover, 
.icon-group:hover { 
  color: black;
}
textarea {
	width: 100%;
	max-width: 100%;
  overflow: auto;
  outline: none;
	-webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  //background: transparent;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a,
input,
button {
	&:active, 
	&:focus { outline: none !important; }
}
textarea,
.form-control,
.form-control:focus { 
  // border: 1px solid #ccc;
  border: none;
  box-shadow: none;
  background-color: @gray;
}
.editable {
  background: #fff;
  border-radius: @main-radius;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 80px;
  
  &:after {
    top: 10px;
    left: 10px;
  }
}
.markdown {
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
  }
  a:hover {
    text-decoration: underline !important;
  }
  code {
    font-family: monospace;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
  }
  pre {
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    overflow-x: scroll;
    code {
      border: none;
      background: none;
    } 
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}










