<p style="margin-top: 0;">
  {{_ "greeting" name}}<br/>
  {{_ "email_resetPassword_message}}
</p>
<div class="action-container">
  <a href="{{actionLink}}">{{_ "email_resetPassword_action"}}</a>
</div>
