<template name="pageLayout">
  {{> yield "nav"}}

  <div class="container-fluid wrapper">
    <div class="row full-height">
      <div class="col full-height col-xs-12 col-sm-8 col-sm-offset-2">
        {{#if searching}}
          {{#AnimateWithVelocity}}
            {{> searchResults}}
          {{/AnimateWithVelocity}}
        {{else}}
          {{#AnimateWithVelocity}}
            <div data-animate data-duration="500">
              <div class="page-head">
                <div class="page-head-action">
                  <i id="js-back" class="fa fa-chevron-left"></i>
                  <div class="float-right">
                    {{> yield "pageButtons"}}
                  </div>
                </div>
                <div class="page-head-content">
                  {{> yield "pageHeader"}}
                </div>
                <div class="page-nav">
                  {{> yield "pageNav"}}
                </div>
              </div>

              {{> yield}}
            </div>
          {{/AnimateWithVelocity}}
        {{/if}}
      </div>
    </div>
  </div>
</template>

<template name="pageBody">
  <div class="page-body-header clearfix">
    {{> Template.contentBlock}}
  </div>
  <div class="page-body-content {{#if hasItems}}{{class}}{{/if}}">
    <div class="list">
      {{#if hasItems}}
        {{#each items}}
          {{> Template.dynamic template=../item}}
        {{/each}}
      {{else}}
        <div class="list-item">
          {{message}}
        </div>
      {{/if}}
    </div>
  </div>
</template>