<!-- simplified for use with profile page -->
<template name="commentItem">
  <div class="list-item">
    <div class="comment comment-item">
      <div class="comment-header">
        {{#with author}}
          <a href="{{pathFor route='profile'}}">
            <div class="profile-item">
              <div class="profile-item-left">
                {{> avatar user=this type='circle'}}
              </div>
              <div class="profile-item-right overflow-ellipsis">
                <b>{{formatName _id}}</b><br/>
                <small style="margin-right: 10px;">{{profile.bio}}</small>
              </div>
            </div>
          </a>
        {{/with}}
      </div>
      <div class="comment-content markdown">
        {{{content}}}
      </div>
      <div class="comment-date">
        {{formatDate createdAt}}
      </div>
      <div class="comment-footer">
        <i class="fa fa-thumbs-o-up"></i> {{upvotes}}
      </div>
    </div>
  </div>
</template>
