<template name="comment">
	<div id="{{_id}}" class="comment collapsed {{containerClass}}">
    {{#unless isDeleted}}
  		<div class="comment-header">      
        {{> profileInfo author}}
	   	</div>
    {{/unless}}
  	<div class="comment-content markdown" title="Show/hide more">
		  {{{content}}}
  	</div>
  	<div class="comment-info">
  		<span>{{formatDate createdAt}}</span>
      {{#if replyToUser}}
        <a href="{{pathFor route='topic' _id=this.topicId hash=this.replyTo}}" class="action-link">Reply to {{replyToUser}}</a>
      {{/if}}
  	</div>
  	<div class="comment-footer">
      <div class="comment-footer-left float-left">
        {{#unless isDeleted}}
          <div class="icon-group {{voteClass}}">
            <i class="icon-action fa fa-heart"></i>
            <span class="icon-text">{{upvotes}}</span>
          </div>
        {{/unless}}
        <div class="icon-group js-toggle-replies {{toggleClass}}">
          <i class="icon-action fa fa-comment fa-flip-horizontal"></i>
          <span class="icon-text">{{numReplies}}</span>
        </div>
      </div>

      {{#if isAdmin}}
        <div class="comment-footer-right float-right">
          <div class="icon-group js-delete-comment">
            <i class="icon-action fa fa-remove"></i>
          </div>
        </div>
      {{/if}}
  	</div>
	</div>
</template>








