<template name="comment">
  <div id="{{_id}}" class="comment collapsed {{containerClass}}">
    {{#unless isDeleted}}
    <div class="comment-header">      
      {{> profileInfo author}}
    </div>
    {{/unless}}
    <div class="comment-content markdown" title="{{_ 'show_hide_more'}}">
      {{{content}}}
    </div>
    <div class="comment-info">
      <span>{{formatDate createdAt}}</span>
      {{#if hasReplyTo}}
        <a href="{{pathFor route='topic' _id=this.topicId hash=this.replyTo}}" class="action-link">{{_ "reply_to" user=replyToUser}}</a>
      {{/if}}
    </div>
    <div class="comment-footer">
      <div class="comment-footer-left float-left">
        {{#unless isDeleted}}
          <div class="icon-group {{voteClass}}">
            <i class="icon-action b-icon-heart"></i>
            <span class="icon-text">{{upvotes}}</span>
          </div>
        {{/unless}}
        <div class="icon-group js-toggle-replies {{toggleClass}}">
          <i class="icon-action b-icon-bubble"></i>
          <span class="icon-text">{{numReplies}}</span>
        </div>
      </div>

      <div class="comment-footer-right float-right">
        {{#if canFlag}}
          <div class="icon-group js-flag-comment">
            <i class="icon-action b-icon-flag"></i>
          </div>
        {{/if}}
        {{#if isAdmin}}
          <div class="icon-group js-delete-comment">
            <i class="icon-action fa fa-remove"></i>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>








