<!-- simplified for use with profile page -->
<template name="commentItem">
  <div class="list-item">
    <div class="comment comment-item">
      <div class="comment-header">
        {{> profileInfo author}}
      </div>
      <div class="comment-content markdown">
        {{{content}}}
      </div>
      <div class="comment-date">
        {{formatDate createdAt}}
      </div>
      <div class="comment-footer">
        <i class="fa fa-thumbs-o-up"></i> {{upvotes}}
      </div>
    </div>
  </div>
</template>
