<template name="newComment">
  <div class="comment-new">
    {{#if editing}}
      <textarea class="editable markdown" placeholder="What do you think?"></textarea>
      <div class="comment-new-action clearfix">
        <a href="#" class="js-cancel-comment action-link">Cancel</a>
        <button class="btn btn-default js-post-comment">Comment</button>
        <label class="toggle">
          <input type="checkbox" class="js-post-side">
          <span class="handle"></span>
        </label>
      </div>
    {{else}}
      <input type="text" class="js-new-comment form-control" placeholder="What do you think?">
    {{/if}}
  </div>
</template>