<template name="replies">
	<tr id="{{id}}-replies-top" class="border {{side}} c{{color}} {{prevColor}}">
		<td colspan="2"></td>
	</tr>

	<tr class="{{id}}-replies {{side}}{{color}}">
		{{#if currentUser}}
			<td colspan="2" class="replies-comment">
				{{> newComment}}
			</td>
		{{/if}}
	</tr>

	{{#unless hasReplies}}
		<tr class="{{id}}-replies {{side}}{{color}}">
			<td class="col" colspan="2"><div class="col-content">No replies.</div></td>
		</tr>
	{{/unless}}

	{{#each replies}}
		{{> commentRow}}
	{{/each}}

	<tr id="{{id}}-replies-bot" class="border {{prevColor}}"><td colspan="2"></td></tr>
</template>