<template name="admin">
  <div class="page-body">
    <div class="list">
      {{#unless flags.count}}
        <div class="show-more">{{_ "no_flags"}}</div>
      {{/unless}}
      {{#each flags}}
        <div class="flag-item list-item">
          <div class="list-item-info">
            <p>
              {{_ "flagged_by"}} 
              <a href="{{pathFor 'profile' _id=user._id}}" class="action-link">
                {{user.profile.name}}
              </a>
              [{{_ "num_helpful_flags" count=user.stats.flagsCount}}]
            </p>
            <span>{{_ "reason" reason=reason}}</span>
          </div>
          <div class="list-item-action">
            <div class="icon-group {{statusClass}}">
              <i class="icon-action b-icon-check"></i>
            </div>
          </div>
        </div>
        <div>
          {{> Template.dynamic template=itemTemplate data=item}}
        </div>
      {{/each}}
    </div>
  </div>
</template>
