<p style="margin-top: 0;">
  Hi {{name}},<br/> 
  Your password was just reset on Binary. If that was you, then no further action has to be taken (just make sure to remember it!). If that was not you, then your account may have been compromised, and we urge you to recover your password using the button below.
</p>
<div class="action-container">
  <a href="{{actionLink}}">Reset Password</a>
</div>