<p style="margin-top: 0;">Hi {{name}}!<br/> We heard you lost your password, but no worries. Simply click the link below to reset it:</p>
<div class="action-container"><a href="{{actionLink}}">Recover My Password!</a></div>