<template name="feedbackForm">
  <div class="modal fade" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content custom">
        <div class="modal-header center">
          <div class="icon-group close" data-dismiss="modal" aria-hidden="true">
            <i class="icon-action fa fa-remove"></i>
          </div>
          <h4 class="modal-title muted uppercase" id="modalLabel">Questions or Feedback?</h4>
        </div>
        <div class="modal-body">
          We would love to hear from you! Feel free to drop us a line at <strong>hello@binary.com</strong>. We will get back to you as soon as we can (usually within a few days max). Cheers!
        </div>
      </div>
    </div>
  </div>
</template>
