<template name="feedbackModal">
  <div class="modal-content">
    <div class="modal-header center">
      <div class="icon-group close" data-dismiss="modal" aria-hidden="true">
        <i class="icon-action fa fa-remove"></i>
      </div>
      <h4 class="modal-title muted uppercase" id="modal-title">Questions or Feedback?</h4>
    </div>
    <div class="modal-body">
      We would love to hear from you! Feel free to drop us a line at <strong>hi@binary10.co</strong>. We will get back to you as soon as we can (usually within a few days max). Cheers!
    </div>
  </div>
</template>
