<template name="forgotPassword">
  <div class="landing-form-container">
    <div class="landing-form-header">
      <h1 class="logo"><a href="{{pathFor route='landing'}}">binary</a></h1>
    </div>
    <ul class="landing-form-errors"></ul>
    <div class="landing-form-body">
      <form id="js-forgot-password-form" class="stacked-form" role="form">
        {{#if resetPassword}}
          <div class="control-group">
            <input type="password" class="form-control" id="js-forgot" placeholder="{{_ 'new_password'}}">
          </div>
          <button type="submit" class="btn btn-primary">{{_ "save"}}</button>
        {{else}}
          <div class="control-group">
            <input type="text" class="form-control" id="js-forgot" placeholder="{{_ 'email'}}">
          </div>
          <button type="submit" class="btn btn-primary">{{_ "send_recovery_link"}}</button>
        {{/if}}
      </form>
      <a href="{{pathFor route='login'}}" class="action-link">{{_ "login"}}</a>
    </div>
  </div>
</template>
