<template name="forgotPassword">
  <div class="landing-form-container">
    <div class="landing-form-header">
      <h1><a href="{{pathFor route='landing'}}">yamcha</a></h1>
    </div>
    <ul class="landing-form-errors"></ul>
    <div class="landing-form-body">
      <form id="js-forgot-password-form" role="form">
        {{#if resetPassword}}
          <div class="control-group">
            <input type="password" class="form-control" id="js-forgot" placeholder="New Password">
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        {{else}}
          <div class="control-group">
            <input type="text" class="form-control" id="js-forgot" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-primary">Send Recovery Link</button>
        {{/if}}
      </form>
      <a href="{{pathFor route='login'}}">Login</a>
    </div>
  </div>
</template>