<template name="pageLayout">
  {{> yield "nav"}}
  {{> UI.dynamic template=error}}
  <div class="container-fluid wrapper">
    <div class="row full-height">
      <div class="col full-height col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="col-content page-header">
          <div class="page-header-buttons">
            <i id="js-back" class="fa fa-chevron-left"></i>
            <div class="float-right">
              {{> yield "pageButtons"}}
            </div>
          </div>
          <div class="page-header-content">
            {{> yield "pageHeader"}}
          </div>
        </div>
        <div class="col-content page-nav">
          {{> yield "pageNav"}}
        </div>
        <div class="page-body">
          {{> yield}}
        </div>
      </div>
    </div>
  </div>
</template>