<template name="nav">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header col-sm-2">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{pathFor route='home'}}" class="navbar-brand">yamcha</a>
      </div>
      <nav class="navbar-collapse collapse in" id="main-navbar" role="navigation" aria-expanded="true">
        {{> searchInput}}
        {{> navItems}}
      </nav>
    </div>
  </div>


  <!-- <div class="visible-xs">
  	<div class="navbar-collapsed">
			<div class="navbar-items">
        {{> navItems}}
      </div>
      <a href="{{pathFor route='home'}}" class="navbar-brand">yamcha</a>
		</div>
  </div>
	<div class="hidden-xs">
		<div class="navbar-transparent row">

			<div class="col-sm-2"> 
        <button class="btn btn-default invite" data-toggle="dropdown">Invite!</button>
        <div class="dropdown-menu invite-menu">
          {{#if currentUser.invites.inviteCount}}
            <p>You have {{currentUser.invites.inviteCount}} invites left.</p>
            <div class="input-group">
              <input type="email" id="js-invite-email" class="form-control" placeholder="Your friend's email">
              <span class="input-group-btn"><button id="js-invite" class="btn btn-default" type="button">Send</button></span>
            </div>
          {{else}}
            <span>You have no invites left :(</span>
          {{/if}}
        </div>
				<a href="{{pathFor route='home'}}" class="navbar-brand">yamcha</a>
			</div>

      <div class="col-sm-8">
        {{> searchInput}}
      </div>

			<div class="col-sm-2 navbar-items">
				{{> navItems}}
			</div>

		</div>
	</div> -->
  {{> newTopic}}
  {{> inviteForm}}
  <div class="invite icon-group" data-toggle="modal" data-target="#invite-modal">
    <i class="b-icon-share"></i>
  </div>
</template>

<template name="navItems">
  {{#if currentUser}}
    <ul class="nav navbar-nav col-sm-2">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" id="nav-profile" data-toggle="dropdown">
          {{> avatar user=currentUser size='small' shape='circle' class='navbar-item hidden-xs'}}
          <span class="visible-xs">Your Profile</span>
        </a>
        <div class="dropdown-menu">
          <ul>
            <li><a href="{{pathFor route='profile' data=currentUser}}" class="list-item"><span>Profile</span></a></li>
            <li><a href="#" id="js-logout" class="list-item"><span>Log Out</span></a></li>
          </ul>
        </div>
      </li>
      {{> notifications}}
      <li class="dropdown">
        <a href="#" data-toggle="modal" data-target="#new-topic-modal">
          <div class="navbar-item icon-group hidden-xs">
            <i class="b-icon-write"></i>
          </div>
          <span class="visible-xs">Add New Topic</span>
        </a>
      </li>
    </ul>
  {{/if}} 
</template>