<template name="nav">
  <div class="visible-xs">
  	<div class="navbar-collapsed">
			<div class="navbar-items">
        {{> navItems}}
      </div>
      <a href="{{pathFor 'home'}}" class="navbar-brand">yamcha</a>
		</div>
  </div>
	<div class="hidden-xs">
		<div class="navbar-transparent">

      <!-- navbar brand container -->
			<div class="col-sm-2"> 
				<a href="{{pathFor 'home'}}" class="navbar-brand">yamcha</a>
			</div>

      <div class="col-sm-8">
        {{> searchInput}}
      </div>

      <!-- navbar items container -->
			<div class="col-sm-2 navbar-items">
				{{> navItems}}
			</div>

		</div>
	</div>
  {{> newTopic}}
</template>

<template name="navItems">
	<ul class="nav navbar-nav">
		{{#if currentUser}}
      <li class="dropdown">
        <a href="#" data-toggle="modal" data-target="#new-topic-modal"><i class="fa fa-plus"></i></a>
      </li>
			<li class="dropdown">
        <a href="#" class="dropdown-toggle" id="nav-profile" data-toggle="dropdown"><i class="fa fa-user"></i></a>
        <div class="dropdown-menu">
        	<ul>
        		<li><a href="{{pathFor 'profile' _id=currentUser._id}}"><span>Profile</span></a></li>
						<li><a href="#" id="js-logout"><span>Log Out</span></a></li>
					</ul>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lightbulb-o"></i></a>
        <div class="dropdown-menu notifications">
        	{{> notifications}}
        </div>
      </li>
    {{/if}}   
	</ul>
</template>