<template name="nav">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header col-sm-2">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar">
          <span class="sr-only">{{_ "toggle_navigation"}}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{{pathFor route='home'}}" class="navbar-brand">binary</a>
      </div>
      <nav class="navbar-collapse collapse" id="main-navbar" role="navigation" aria-expanded="true">
        {{> searchInput}}
        {{> navItems}}
      </nav>
    </div>
  </div>

  {{#if currentUser}}
    {{> newTopic}}
    {{> inviteForm}}

    <div class="invite icon-group hidden-xs" data-toggle="modal" data-target="#invite-modal">
      <i class="b-icon-share"></i>
    </div>
  {{/if}}

  {{> signupModal}}
  {{> feedbackForm}}

  <div class="feedback icon-group hidden-xs" data-toggle="modal" data-target="#feedback-modal">
    <i class="fa fa-question"></i>
  </div>
</template>

<template name="navItems">
  <ul class="nav navbar-nav col-sm-2 navbar-items">
    <li role="presentation" class="visible-xs">
      <a href="#" data-toggle="modal" data-target="{{topicModal}}">
        <span>{{_ "add_new_topic"}}</span>
      </a>
    </li>
    {{#if currentUser}}
      <li role="presentation">
        <a href="{{pathFor route='profile' data=currentUser}}" id="nav-profile">
          {{> avatar user=currentUser size='small' shape='circle' class='navbar-item hidden-xs'}}
          <span class="visible-xs">{{_ "your_profile"}}</span>
        </a>
      </li>
      {{> notifications}}
    {{else}}
      <li role="presentation">
        <a href="{{pathFor route='login'}}">
          <button class="btn btn-primary">{{_ "login"}}</button>
        </a>
      </li>
    {{/if}}

    {{#if isAdmin}}
      <li role="presentation">
        <a href="{{pathFor 'admin'}}">
          <div class="moderator avatar avatar-small avatar-circle navbar-item hidden-xs">
            <span class="avatar-initials">{{_ "moderator"}}</span>
          </div>
          <span class="visible-xs">{{_ "moderation"}}</span>
        </a>
      </li>
    {{/if}}
  </ul>
</template>
