<template name="searchInput">
  <ul class="nav navbar-nav col-sm-8">
    <form class="navbar-form search-form" id="js-search-form" role="search">
      <div class="search-form-group form-group has-feedback">
        {{> esInput index="topics" class="form-control search-input" placeholder="Find topics..."}}
        {{#if searching}}
          <span id="js-search-cancel" class="icon-group form-control-feedback"><i class="icon-action fa fa-remove"></i></span>
        {{/if}}
      </div>
    </form>
  </ul>
</template>

<template name="searchResults">
  <div class="col-content page-body">
    <div data-animate data-duration="1000" data-from-value="0" data-to-value="1" class="results">
      <div class="list">
        <div class="list-item list-header">Topics</div>
        {{#ifEsInputIsEmpty index="topics"}}
          <div class="list-item">Search for topics.</div>
        {{/ifEsInputIsEmpty}}

        {{#ifEsIsSearching index="topics"}}
          <div class="list-item">Working...</div>
        {{else}}
          {{#esEach index="topics"}}
            {{> topicItem}}
          {{/esEach}}
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults index="topics"}}
          <div class="list-item">No search results.</div>
        {{else}}
          {{> esLoadMoreButton index="topics" class="btn btn-default"}}
        {{/ifEsHasNoResults}}
      </div>
    </div>
  </div>
</template>