<template name="searchInput">
  <form class="form-horizontal" id="js-search-form" role="form">
    <div class="form-group has-feedback">
      {{> esInput index=indexes classes="form-control" id="js-search-input" placeholder="Filter by category or keyword..."}}
      {{#if searching}}
        <span id="js-search-cancel" class="glyphicon glyphicon-remove form-control-feedback"></span>
      {{/if}}
    </div>
  </form>
</template>

<template name="searchResults">
  <div data-animate data-duration="1000" data-from-value="0" data-to-value="1" class="results">
    <div id="topic-categories">
      <ul>
        <li><a href="">Technology</a></li>
        <li><a href="">Business</a></li>
        <li><a href="">Economy</a></li>
        <li><a href="">Society</a></li>
        <li><a href="">Education</a></li>
      </ul>
      <ul>
        <li><a href="">Environment</a></li>
        <li><a href="">Literature</a></li>
        <li><a href="">Politics</a></li>
        <li><a href="">Philosophy</a></li>
        <li><a href="">Science</a></li>
      </ul>
      <ul>
        <li><a href="">Arts</a></li>
        <li><a href="">Sports</a></li>
        <li><a href="">Entertainment</a></li>
        <li><a href="">Culture</a></li>
      </ul>
    </div>
    <div id="search-results">
      <ul>
        <li>Topics</li>
        {{#ifEsInputIsEmpty index="topics" id="js-search-input"}}
          <li>Search for topics.</li>
        {{/ifEsInputIsEmpty}}

        {{#ifEsIsSearching index="topics"}}
          <li>Working on it...</li>
        {{else}}
          {{#esEach index="topics" id="js-search-input"}}
            <li>
              <span class="btn btn-pro">{{this.pro}}</span>
              <span class="btn btn-con">{{this.con}}</span>
              <a href="{{pathFor 'topic'}}" class="js-search-link">{{this.title}}</a>
            </li>
          {{/esEach}}
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults index="topics" id="js-search-input"}}
          <li>No search results.</li>
        {{/ifEsHasNoResults}}
      </ul>
      <ul>
        <li>Users</li>
        {{#ifEsInputIsEmpty index="users" id="js-search-input"}}
          <li>Search for users.</li>
        {{/ifEsInputIsEmpty}}

        {{#ifEsIsSearching index="users"}}
          <li>Working on it...</li>
        {{else}}
          {{#esEach index="users" id="js-search-input"}}
            <li><a href="{{pathFor 'profile'}}" class="js-search-link">{{this.username}}</a></li>
          {{/esEach}}
        {{/ifEsIsSearching}}

        {{#ifEsHasNoResults index="users" id="js-search-input"}}
          <li>No search results.</li>
        {{/ifEsHasNoResults}}
      </ul>
    </div>
  </div>
</template>