<template name="profile">
	<div class="col-content page-body">
		{{> UI.dynamic template=currentTab data=this}}
	</div>
</template>

<template name="profileButtons">
	{{#if canFollow}}
		{{#if following}}
			<button id="js-unfollow" class="btn btn-primary">Following</button>
		{{else}}
			<button id="js-follow" class="btn btn-default">Follow</button>
		{{/if}}
	{{else}}
		<i id="js-settings" class="fa fa-cog fa-lg"></i>
	{{/if}}
</template>

<template name="profileHeader">
	<h3>{{username}}</h3>
	<p>Reputation: {{stats.reputation}}</p>
</template>

<template name="profileNav">
	<ul class="page-nav-buttons clearfix">
	  <li class="js-nav-button {{isCurrentTab 'profileComments'}}" data-tab="profileComments"><a href="#">Comments</a></li>
	  <li class="js-nav-button {{isCurrentTab 'profileTopics'}}" data-tab="profileTopics"><a href="#">Topics</a></li>
	  <li class="js-nav-button {{isCurrentTab 'profileUsers'}}" data-tab="profileUsers"><a href="#">Users</a></li>
	  <li class=""><a href="#">Temporary</a></li>
	</ul>
</template>

<template name="profileComments">
	<div class="page-body-header">
		<h3>Comments</h3>
		<span class="dropdown">
		  <button class="dropdown-toggle" type="button" id="comment-category" data-toggle="dropdown">
		    {{commentCategory}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="comment-category">
		    <li role="presentation" data-category="Created"><a role="menuitem" tabindex="-1" href="#">Created</a></li>
		    <li role="presentation" data-category="Upvoted"><a role="menuitem" tabindex="-1" href="#">Upvoted</a></li>
		  </ul>
		</span>
	</div>

	<div class="page-body-content">
		<div class="list">
		{{#if comments.count}}
			{{#each comments}}
				{{> commentItem}}
			{{/each}}
		{{else}}
			<div class="list-item">
				Nothing to see here!
			</div>
		{{/if}}
		</div>
	</div>
</template>

<template name="profileTopics">
	<div class="page-body-header">
		<h3>Topics</h3>
		<span class="dropdown">
		  <button class="dropdown-toggle" type="button" id="comment-category" data-toggle="dropdown">
		    {{topicCategory}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="comment-category">
		    <li role="presentation" data-category="Discussed"><a role="menuitem" tabindex="-1" href="#">Discussed</a></li>
		    <li role="presentation" data-category="Created"><a role="menuitem" tabindex="-1" href="#">Created</a></li>
		    <li role="presentation" data-category="Following"><a role="menuitem" tabindex="-1" href="#">Following</a></li>
		  </ul>
		</span>
	</div>

	<div class="page-body-content">
		<div class="list">
		{{#if topics.count}}
			{{#each topics}}
				{{> topicItem}}
			{{/each}}
		{{else}}
			<div class="list-item">
				Nothing to see here!
			</div>
		{{/if}}
		</div>
	</div>
</template>

<template name="profileUsers">
	<div class="page-body-header">
		<h3>People</h3>
		<span class="dropdown">
		  <button class="dropdown-toggle" type="button" id="comment-category" data-toggle="dropdown">
		    {{userCategory}} <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="comment-category">
		    <li role="presentation" data-category="Followers"><a role="menuitem" tabindex="-1" href="#">Followers</a></li>
		    <li role="presentation" data-category="Following"><a role="menuitem" tabindex="-1" href="#">Following</a></li>
		  </ul>
		</span>
	</div>
	<div class="page-body-content">
		<div class="list">
		{{#if users.count}}
			{{#each users}}
				<div class="list-item">
					<a href="{{pathFor 'profile'}}">{{username}}</a>
				</div>
			{{/each}}
		{{else}}
			<div class="list-item">
				Nothing to see here!
			</div>
		{{/if}}
		</div>
	</div>
</template>






















