<template name="profileItem">
    <div class="list-item">
      <a href="{{pathFor 'profile'}}">
        <div class="list-item-info profile-item">
          <div class="profile-item-left">
            {{> avatar user=this class='circle'}}
          </div>
          <div class="profile-item-right">
            <h3>{{profile.name}} <small>{{stats.reputation}} Rep</small></h3>
            <small>{{profile.bio}}</small>
          </div>
        </div>
      </a>
      <div class="list-item-action">
        {{#if canFollow}}
          {{#if following}}
            <button id="js-unfollow" class="btn btn-primary">Following {{stats.followersCount}}</button>
          {{else}}
            <button id="js-follow" class="btn btn-default">Follow {{stats.followersCount}}</button>
          {{/if}}
        {{/if}}
      </div>
    </div>
</template>