<template name="profileItem">
  <a href="{{pathFor 'profile'}}">
    <div class="list-item">
      <div class="list-item-info profile-item">
        <div class="profile-item-left">
          {{> avatar user=this class='circle'}}
        </div>
        <div class="profile-item-right">
          <h3>{{profile.name}} <small>{{stats.reputation}} Rep</small></h3>
          <small>{{profile.bio}}</small>
        </div>
      </div>
      <div class="list-item-action">
        {{#if following}}
          <button id="js-unfollow" class="btn btn-primary">Following {{stats.followersCount}}</button>
        {{else}}
          <button id="js-follow" class="btn btn-default">Follow {{stats.followersCount}}</button>
        {{/if}}
      </div>
    </div>
  </a>
</template>