<template name="profile">
	{{#if user}}
		<div class="row full-height">
			<div class="col full-height col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="col-content profile-header">
					{{#if canFollow}}
						{{#if following}}
							<button id="unfollow" class="primary-button">Following</button>
						{{else}}
							<button id="follow" class="default-button">Follow</button>
						{{/if}}
					{{/if}}
					<h3>{{user.username}}</h3>
					<p>Reputation: {{likes}}</p>
				</div>
				<div class="col-content page-nav">
					<ul class="nav-buttons clearfix">
					  <li class="{{isCurrentTab 'profileComments'}}"><a href="#" id="profileComments">Comments</a></li>
					  <li class="{{isCurrentTab 'profileTopics'}}"><a href="#" id="profileTopics">Topics</a></li>
					  <li class="{{isCurrentTab 'profileUsers'}}"><a href="#" id="profileUsers">Users</a></li>
					  <li class=""><a href="#">Temporary</a></li>
					</ul>
				</div>
				<div class="col-content profile-body">
					{{> UI.dynamic template=currentTab data=user}}
				</div>
			</div>
		</div>
	{{/if}}
</template>

<template name="profileComments">
	<h3>Comments Posted</h3>
	{{#if comments.count}}
		{{#each comments}}
			<div>
				In <b><a href="{{pathFor 'topic' _id=topicId}}">{{title}}</a></b>:
				<p class="well">{{{breaklines content}}}</p>
			</div>
		{{/each}}
	{{else}}
		{{user.username}} has not posted any comments yet.
	{{/if}}

	<h3>Comments Liked</h3>
	{{#if liked.count}}
		{{#each liked}}
			<div>
				<b><a href="{{pathFor 'profile' _id=userId}}">{{userId}}</a></b>:
				<p class="well">{{{breaklines content}}}</p>
			</div>
		{{/each}}
	{{else}}
		{{user.username}} has not liked anything yet.
	{{/if}}
</template>

<template name="profileTopics">
	<h3>Topics Discussed</h3>
	{{#if topics.count}}
		{{#each topics}}
			{{> topicItem}}
		{{/each}}
	{{else}}
		This user has not discussed any topics yet.
	{{/if}}

	<h3>Topics Created</h3>	
	{{#if created.count}}
		{{#each created}}
			{{> topicItem}}
		{{/each}}
	{{else}}
		This user has not created any topics yet.
	{{/if}}
</template>

<template name="profileUsers">
	<h3>Followers</h3>
	{{#if followers.count}}
		{{#each followers}}
			<a href="{{pathFor 'profile'}}">{{username}}</a>
		{{/each}}
	{{else}}
		This user has no followers.
	{{/if}}
		
	<h3>Following</h3>
	{{#if following.count}}
		{{#each following}}
			<a href="{{pathFor 'profile'}}">{{username}}</a>
		{{/each}}
	{{else}}
		This user is not following anybody. Suggest some?
	{{/if}}
</template>






















